using System.Reflection;

@model MvcEmptyApp.Models.AptechInfo
< !DOCTYPE html >
< html >
< head >
    < title > Thông tin Aptech</title>
</head>
<body>
    <h1>Thông tin Aptech</h1>
    <p>Địa chỉ: @Model.Address </ p >
    < p > Điện thoại: @Model.Phone </ p >
    < p >< a href = "/aptech/student" > Xem danh sách sinh viên</a></p>
    <p><a href="/">Quay lại trang chủ</a></p>
</body>
</html>